{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'expenses' %}">Expenses</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
    </ol>
  </nav>

  <div class="card mb-4">
    <div class="card-header">
      <h4>Recent Expenses</h4>
    </div>
    <div class="card-body">
      {% if recent_expenses %}
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Amount</th>
              <th scope="col">Description</th>
              <th scope="col">Category</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            {% for expense in recent_expenses %}
            <tr>
              <td>{{ expense.amount }} {{ currency }}</td>
              <td>{{ expense.descriptions }}</td>
              <td>{{ expense.category }}</td>
              <td>{{ expense.date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>No recent expenses found.</p>
      {% endif %}
      <a href="{% url 'stats' %}" class="btn btn-primary">Show More</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4>Recent Expenses Chart</h4>
    </div>
    <div class="card-body">
      <canvas id="recentExpensesChart" height="600"></canvas>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const expenseDescriptions = {{ expense_descriptions|safe }}; 
    const expenseAmounts = {{ expense_amounts|safe }};

    const ctx = document.getElementById('recentExpensesChart').getContext('2d');
    const recentExpensesChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: expenseDescriptions,
          datasets: [{
              label: 'Recent Expenses',
              data: expenseAmounts,
              backgroundColor: [
                  'rgba(255, 99, 132, 0.6)',
                  'rgba(54, 162, 235, 0.6)',
                  'rgba(255, 206, 86, 0.6)',
                  'rgba(75, 192, 192, 0.6)',
                  'rgba(153, 102, 255, 0.6)',
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: {
          responsive: true,
          maintainAspectRatio: false, // Prevent the chart from stretching
          plugins: {
              tooltip: {
                  callbacks: {
                      label: function(tooltipItem) {
                          const index = tooltipItem.dataIndex;
                          return `Description: ${expenseDescriptions[index]}`;
                      }
                  }
              }
          }
      }
  });
  
</script>


{% endblock %}
